src/main/mule/my-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9cd9541b-f80a-494e-beb7-eb10d44b0746" basePath="/api/v1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-test-apiFlow" doc:id="cc7f33d8-e9c4-4a5c-803a-44ef45bb964a" >
		<http:listener doc:name="Listener" doc:id="94b6ff2b-07e4-44a4-ba51-f740151e7eee" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['Hello Word!']" doc:name="Set Payload" doc:id="ada4970a-e835-4460-81d4-03aac7cf51d5" />
	</flow>
</mule>
